.cardM4,.cardM3,.cardM2,.cardM1,.card4,.card3,.card2,.card1,.card-root,.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: absolute;
}
.card1 .card-id{
    background-color: lightgoldenrodyellow;
}
.card2 .card-id{
    background-color: lightpink;
}
.card3 .card-id{
    background-color: lightgreen;
}
.cardM1 .card-id{
    background-color: lightskyblue;
}
.cardM2 .card-id{
    background-color: lightsalmon;
}
.cardM3 .card-id{
    background-color: lightslategray;
}
.card-id {
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
}
.card-id img{
    width:70px;
    height:70px
}
.card-root .card-id {
    width: 160px;
    background-color: lightcyan;
}

.middle{
    max-width:175px; 
    display: flex;
    align-items: center;
    border: none;
    background-color: Transparent;
}
a {
    text-decoration: none;
}
.middle button{
    color: red;
    border: none;
    background-color: Transparent;
}
.children button{
    border: none;
    background-color: Transparent;
}
.parent button{
    border: none;
    background-color: Transparent;
    width: 25px;
}
Link {
    text-decoration: none;
}

.btn-logout {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 0;
    left: 113px;
    background: white;
    color: blue;
}
.tree{
    /* resize: both; */
    min-height: 1200px;
    width: 100%;
}
.title{
    background-color: white;
}
.pic-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-name{
    text-align: center;
}
.card-root{
    top: 420px
}
.card1{
    top: 305px;
}
.card2{
    top: 190px;
}
.card3{
    top: 75px
}
.cardM1{
    top: 570px
}
.cardM2{
    top: 680px
}
.cardM3{
    top: 785px
}
.row0,.row1,.row2,.row3{
    display: flex;
}