.card-3,.card-2,.card-1,.card3,.card2,.card1,.card-root,.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
    margin: 10px;
    width: 180px;
    border-radius: 15px;
    padding: 10px;
}
.card1{
    background-color: lightgoldenrodyellow;
}
.card2{
    background-color: lightpink;
}
.card3{
    background-color: lightgreen;
}
.card-1{
    background-color: lightskyblue;
}
.card-2{
    background-color: lightsalmon;
}
.card-3{
    background-color: lightslategray;
}
.card-id {
    border: 1px solid gold;
    border-radius: 10px;
    padding: 10px;
}
.card-id img{
    width:70px;
    height:70px
}
.card-root {

    width: 180px;
    background-color: lightcyan;
}
.middle{
    max-width:175px; 
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.middle button{
    color: red;
}
.parent button{
    width: 25px;
}
Link {
    text-decoration: none;
}

.btn-logout {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid grey;
    top: 0;
    left: 113px;
    background: white;
    color: blue;
}
.tree{
    /* resize: both; */
    min-height: 800px;
    width: 100%;
}
.title{
    background-color: white;
}

.row0{
    float: left;
    border: 1px solid green;
    height: 180px;
}
.row1{
    height: 180px;    
}
.row2{
    height: 180px;    
}
.row3{
    height: 180px;    
}
.row-1{
    height: 180px;    
}
.row-2{
    height: 180px;    
}
.row-3{
    height: 180px;    
}