.ffonnect {
    display: flex;
    width: 100%;
    border: 1px solid black;
}

.f-profile {
    width: 25%;
    border: 1px solid gold;
}

.ffonnect h2 {
    color: green;
    text-align: center;
    margin: 30px 10px 50px 10px;
    font-size: 30px;
}

.f-show {
    width: 75%;
    border: 1px solid green;
    background-image: url("tree-of-life.jpeg");
    background-size: cover;
    background-color: rgb(190, 245, 226);

}

.img {
    display: flex;
    align-items: center;
    justify-content: center;

}