
.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Github::before {
   font: var(--fa-font-brands);
    content: ' \f09b';
 }