.profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.profile img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 8px 3px #B8B8B8;
  }


